<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nenu.mapper.TbBookCatalogueMapper">
  <resultMap id="BaseResultMap" type="com.nenu.domain.TbBookCatalogue">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="bc_book_id" jdbcType="INTEGER" property="bcBookId" />
    <result column="bc_c_id" jdbcType="INTEGER" property="bcCId" />
  </resultMap>
</mapper>